{% extends 'base.html.twig' %}

{% block title %}Les habitats{% endblock %}

{% block body%}
    {# Les différents habitats. Si clic sur un habitat, détail des animaux y habitant #}
    <h1>Les habitats de vie de nos animaux</h1>
    <p>Cliquez sur le lien pour visualiser les animaux affectés à cet habitat.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Commentaire</th>
                <th>Photo</th> 
            </tr>
        </thead>
        <tbody>
            {% for habitat in habitats %}
                <tr>
                    <td><a href="{{ path('animal_habitat', { id: habitat.id }) }}">{{ habitat.nom }}</a></td>
                    <td>{{ habitat.description }}</td>
                    <td>{{ habitat.commentairehabitat }}</td>
                    <td>
                        {% if habitat.image %}
                        <img src="{{ asset('images/habitat/' ~ habitat.image) }}" alt="{{ habitat.nom }}" height="100" width="100">
                    {% endif %}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Pas d'habitat défini.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
