{% extends 'base.html.twig' %}

{% block title %}Consultation CR{% endblock %}

{% block body %}
    <h1>Consultation des comptes rendus</h1>
   
    <h3>Nourritures proposées</h3>

    <style>
        table {
            width: 80%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000; 
            padding: 8px;
        }
        th {
            background-color: skyblue;
            text-align: center;
        }
        th:first-child {
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: skyblue;
        }
    </style>
   
    <table>
        <thead>
            <tr>
                
                <th>Animal</th>
                <th>Date de passage</th>
                <th>Type de Nourriture</th>
                <th>Quantité</th>
                <th>Etat</th>
                <th>Détail de l'etat</th>
            </tr>
        </thead>
        <tbody>
            {% for rapport in rapports %}
                <tr>
                    <td>{{ rapport.animal.prenom }}</td>
                    <td>{{ rapport.datePassage|date('Y-m-d H:i') }}</td>
                    <td>{{ rapport.typenourriture.libelle }}</td>
                    <td>{{ rapport.grammage }}</td>
                    <td>{{ rapport.etat }}</td>
                    <td>{{ rapport.detailetatanimal }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
