{# {% extends 'base.html.twig' %} #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Horaires du Parc</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ form_save.label }}</button>
    {{ form_end(form) }}

    <h2>Horaires Enregistrés</h2>
    <ul>
        {% for horaire in horaires %}
            <li>{{ horaire.jour }} : 
                {% if horaire.matin_deb %}Matin {{ horaire.matin_deb|date('H:i') }} - {{ horaire.matin_fin|date('H:i') }}{% endif %}
                {% if horaire.am_deb %}Après-midi {{ horaire.am_deb|date('H:i') }} - {{ horaire.am_fin|date('H:i') }}{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
