
{% extends 'base.html.twig' %}

{% block title %}Espace Employé{% endblock %}
{# Affichage de avis des visiteurs pour validation #}
{# Ajout de la saisie de nourriture proposée aux animaux #}
{# Affichage de la nourriture donnée aux animaux #}

{% block body %}
    <h1>Espace Employé</h1>
    <div class="logout-container">
        <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
    </div>

    <h2>Avis des clients<br></h2>
    <p>Cocher les avis que vous voulez rendre visible.<br></p>
    <form method="post" action="{{ path('validate_avis') }}">
        <table>
            <tr>
                <th>Sélectionner</th>
                <th>Pseudo</th>
                <th>Commentaire</th>
                <th>Valide</th>
            </tr>
            {% for avis in avis %}
                <tr>
                    <td>
                        {% if not avis.estVisible %}
                            <input type="checkbox" name="avis[]" value="{{ avis.id }}">
                        {% endif %}
                    </td>
                    <td>{{ avis.pseudo }}</td>
                    <td>{{ avis.commentaire }}</td>
                    <td>{{ avis.estVisible ? 'Oui' : 'Non' }}</td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit">Valider les avis sélectionnés</button>
    </form>
    

    <h2>Gestion de la nourriture</h2>
    <a href="{{ path('add_nourriture') }}">Ajouter de la nourriture</a>

    <h3>Nourritures données</h3>
    <table>
        <tr>
            <th>Animal</th>
            <th>Type de nourriture</th>
            <th>Date et Heure</th>
            <th>Quantité</th>
        </tr>
        {% for nourriture in nourritures %}
            <tr>
                <td>{{ nourriture.animal.prenom }}</td> 
                <td>{{ nourriture.type }}</td>
                <td>{{ nourriture.dateHeure|date('Y-m-d H:i') }}</td>
                <td>{{ nourriture.quantite }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
